.container{
    padding-top: 25px;
    padding-left: 125px;
}

.fish-list{
    max-height: 600px;
    overflow-y: auto;
}

.welcome-fish{
    width: 300px; 
    height: 300px; 
    padding-top: 100px;
}