body{ 
    background-image: url('/src//assets/animal-tracks-background-pattern.jpg');
    background-repeat:repeat;
} 

.welcome-img {
    width: 300px; 
    height: 250px; 
    padding-top: 100px;
    /* border: 1px solid #ccc;  */
    /* margin-bottom: 10px;  */
    /* object-fit: cover;  */
    /* display: block;  */
}

.welcome-title {
    background-color: rgba(173, 216, 230, 0.3);
    color: black;
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 20px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Montserrat', sans-serif;
}

.welcome-paragraph {
    background-color: rgba(173, 216, 230, 0.3);
    color: black;
    text-align: center;
    border-radius: 10px;
    padding: 50px 100px;
    margin-top: 20px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Montserrat', sans-serif;
}