.container {
    padding-top: 100px;
    padding-left: 125px;
}

.bird-list {
    max-height: 500px;
    overflow-y: auto;
}

.bird-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.bird-image{
    margin-bottom: 10px;
    width: 300px;
    height: 200px;
}

.bird-text{
    text-align: center;
    padding-top: 25px;
}

