.banner{
    position: fixed;
    top: 0;
    margin-left: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(230, 230, 250);
    height: 52px;
    width: 100%;
    z-index: 1000;
    font-family: 'Amatic SC', cursive;
    font-family: 'Montserrat', sans-serif;
}

.app-name{
    flex: 1;
    margin-left: 20px;
}

.app-name h1{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

