.menu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 90px;
    height: 100%;
    background-color: rgba(230, 230, 250);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.menu a {
    display: block;
    margin: 1px 0;
    text-decoration: none;
    color: #000;
    padding: 5px 0;
}

.menu tr {
    border-bottom: 1px solid #ccc;
}

.menu tr:hover {
    background-color: #ddd;
}