.menu{
    position: fixed;
    top: 90px;
    left: 0;
   width: 90px;
   height: 100%;
   background-color: #f1f1f1;
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: left;
}

.menu a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: #000;
}

.menu tr:hover{
    background-color: #ddd;
}

